.projectgrid {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-top: 3rem;
  &__container {
    width: 100%;
    padding: 3rem 4rem;
    color: #fff;
    position: relative;
    .heading {
      font-size: 3rem;
      font-weight: 300;
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
      .column {
        width: 50%;
        position: relative;
        color: #fff;
        &:nth-child(odd) {
          margin-top: 5rem;
        }
        .card {
          color: #fff;
          display: flex;
          align-items: center;
          flex-direction: column;
          .image {
            width: 90%;
            height: 30rem;
            position: relative;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .heading {
            font-size: 1.6rem;
            font-weight: bold;
            width: 70%;
            text-align: center;
            margin: 1rem auto;
          }
          .description {
            width: 70%;
            font-family: "Crimson Text";
            text-align: center;
            opacity: 0.7;
            text-transform: uppercase;
          }
        }
      }
    }
    &__button {
      color: #fff;
      text-align: center;
      .fat-btn {
        width: 15rem;
        height: 5rem;
        border-radius: 10rem;
        font-size: 1.2rem;
        background-color: #169bf5;
        color: #fff;
        border: none;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width:1050px) {
  .projectgrid{
    &__container{
      padding: 3rem 2rem;
      &__content{
        .column{
          .card{
            .image{
              height: 25rem !important;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width:800px) {
    .projectgrid{
    &__container{
      padding: 3rem 2rem;
      &__content{
        .column{
          .card{
            .image{
              height: 20rem !important;
            }
            .description{
              font-size: .8rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width:600px) {
  .projectgrid{
    &__container{
      padding: 2rem .5rem;
      &__content{
        flex-direction: column;
        margin-top: -2rem;
        &:nth-child(odd){
          margin-top: 0rem !important;
        }
        .column{
          width: 100%;

          margin-bottom: 2rem;
          .card{
            .image{
              width: 95%;
            }
          }
        }
      }
    }
  }
}